:root {
    --WHITE: white;
    --MAIN_COLOR: #0d2137;
}

#root {
    width: 100%;
    height: 53.77vw;
    position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    padding: 0;
    margin: 0;
    border: 0;
}

hr{
    margin: 0;
}


/* fonts */

.gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
}



.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/* NAVBAR CSS */

.navBar {
    padding: 0 5vw;
    width: 100%;
    height: 100%;
    background-color: var(--MAIN_COLOR);

    .eProdLogo {
        height: 55px;
    }

    .addToCardButton {
        border: none;
        color: var(--WHITE);
        cursor: pointer;
        background-color: var(--MAIN_COLOR);
        font-size: 15px;

        .addTocardimg {
            filter: invert(100%) brightness(1000%) contrast(100%);
            width: 40px;
            color: var(--WHITE);
        }
    }

    .addToCardButton:hover {
        opacity: 0.8;
    }

    .selectedProCount {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        left: 93.5vw;
        top: 0.6vw;
    }
}


/* FILTER BAR CSS */

.filter-con {
    height: 100%;
    top: 5.2vw;
    /* grid-column: span 5 / span 5;
    grid-row: span 10 / span 10 ;
    grid-row-start: 2; */
}

.filterbar {
    height: 100%;
    background-color: rgb(122 157 187);
    grid-row: span 8 / span 8;
    /* position: fixed;
    top: 4vw;
    bottom: 0; */
}

.dropdown {
    cursor: pointer;
    padding: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* Closed State */
.fill-down {
    display: flex;
    /* position: relative; */
    padding-left: 1vw;
    width: 100%;
    align-items: center;
    background-color: rgb(52, 92, 126);
    transform: translateY(0);
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.fill-down:hover {
    background-color: rgb(5, 77, 141);
}

/* Expanded State */
.fill-up {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 1vw;
    width: 100%;
    height: 10vw;
    align-items: flex-start;
    background-color: rgb(5, 77, 141);
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Text Styles */
.categoryBtn {
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

/* Arrow Styling */
.downArrow,
.upArrow {
    width: 2vw;
    filter: invert(100%) brightness(1000%) contrast(100%);
    position: absolute;
    left: 15vw;
    top: 0.7vw;
    transition: opacity 0.3s ease-in-out;
}

/* Show/Hide Arrows Based on State */
.fill-down .upArrow {
    display: none;
}

.fill-down .categoryCheckBox,
.fill-down .categoryText {
    display: none;
}

.fill-up .categoryCheckBox,
.fill-up .categoryText {
    display: block;
}

.categoryText {
    font-size: 1vw;
    color: white;
}

.fill-down .downArrow {
    display: block;
}

.fill-up .downArrow {
    display: none;
}

.fill-up .upArrow {
    display: block;
}


/* MAIN PAGE CSS */

.container {
    padding-right: 0;
    background-color: aliceblue;
    max-width: 100%;

    .subDivs {
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        .insideDivs {
            border-radius: 1vw;
            margin-top: 1vw;
            width: 100%;
            height: 40%;
            background-color: #d3e2f1;
            border: 1px solid rgb(213, 231, 235);

            .imageDiv {
                background-color: #fefefe;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 1vw;
                border-bottom-left-radius: 1vw;

                .images {
                    width: 45%;
                    height: auto;
                }
            }

            .prodectInfo {

                .Cat-C {

                    .Cat-h,
                    .Cat-t {
                        color: #616161;
                        font-size: 0.8vw;
                    }
                }

                .prodDesc {
                    font-size: 0.8vw;
                    color: #616161;
                }

                .ratting {


                    .ratingStar {
                        padding: 0 3px;
                        border-radius: 4px;

                        .imgStar {
                            width: 1vw;
                            height: 1vw;
                        }

                        .ratingTest {
                            color: white;
                        }
                    }

                }
            }
        }
    }

}

@media only screen and (max-width: 700px) {
    .insideDivs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);

        .imageDiv {
            grid-row: span 5 / span 5;
        }

        .prodectInfo {
            grid-row: span  4/ span 4;
            grid-row-start: 6;
        }

        .purchessDetails {
            grid-row-start: 10;
        }
    }
}

.modelPopup-open {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 231, 255);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.countDecress{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.countIncress{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-remove{
    border-radius: 5px;
}
